<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/25/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
a = input("Please input a string: ")
print("The length of given string is: ",len(a))

Please input a string: achyuth
The length of given string is:  7

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
samp_str = "google.com"
counter = {}
for x in a:
    if x in counter:
        counter[x] += 1
    else:
        counter[x] = 1
print("Character count for the given string: " + str(counter))

Character count for the given string: {'a': 1, 'c': 1, 'h': 2, 'y': 1, 'u': 1, 't': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [3]:
input_list = [11,22,33,44,55]
list_sum = sum(input_list)
print(list_sum)

165

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [4]:
a = input("Please input a string: ")
first_char = a[0]
a = a.replace(first_char , '$')
a = first_char + a[1:]
print(a)

Please input a string: restart
resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [5]:
a = float(input("enter parameter a: "))
b = float(input("enter parameter b: "))
S = 3.14 * pow((1+a/b),3)
print(S)

enter parameter a: 1
enter parameter b: 2
10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60},

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
new_dict = {}
for x in (dic1,dic2,dic3):
    new_dict.update(x)
print(new_dict)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [7]:
def element_check(samp_tuple, ele):
    print(ele in samp_tuple)

element_check((1,2,3,'a','b','c'),'r')

False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [8]:
def max_min(set):
    print("maximum value is: ",max(set))
    print("minimum value is: ",min(set))
max_min({1,2,3,4,5})

maximum value is:  5
minimum value is:  1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [9]:
import random
from itertools import islice
rand_num = [4,5,6,6,6,6]
stu_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
                'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609',
                'ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
random.shuffle(stu_list)
given_input = iter(stu_list)
out = [list(islice(given_input, elements)) for elements in rand_num]
print(out)

[['jl1252', 'vm0377', 'sk1458', 'ak0956'], ['aos0040', 'sk1386', 'sk1313', 'sm1907', 'ms1500'], ['sb1357', 'bg0320', 'ak0934', 'av0659', 'sm1640', 'sg1297'], ['ds0814', 'gn0108', 'ja0964', 'hy0232', 'kg0569', 'kg0470'], ['nv0234', 'pr0353', 'sc1229', 'vb0218', 'nm0618', 'sa1198'], ['sk1390', 'dr0609', 'fh0141']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [10]:
def dup_ele(a):
    list_1 = []
    no_dup = -1
    for x in range(len(a)):
        if a[x] in list_1:
            return a[x]
        else:
            list_1.append(a[x])
    return no_dup
print(dup_ele([1,2,3,4,1]))

1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [11]:
from datetime import date, timedelta
def sunday_dates(given_year):
    jan_first = date(given_year, 1, 1)
    jan_first += timedelta(days = 6 - jan_first.weekday())
    while jan_first.year == given_year:
        yield jan_first
        jan_first += timedelta(days = 7)
for x in sunday_dates(2020):
    print(x)

2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
2020-03-08
2020-03-15
2020-03-22
2020-03-29
2020-04-05
2020-04-12
2020-04-19
2020-04-26
2020-05-03
2020-05-10
2020-05-17
2020-05-24
2020-05-31
2020-06-07
2020-06-14
2020-06-21
2020-06-28
2020-07-05
2020-07-12
2020-07-19
2020-07-26
2020-08-02
2020-08-09
2020-08-16
2020-08-23
2020-08-30
2020-09-06
2020-09-13
2020-09-20
2020-09-27
2020-10-04
2020-10-11
2020-10-18
2020-10-25
2020-11-01
2020-11-08
2020-11-15
2020-11-22
2020-11-29
2020-12-06
2020-12-13
2020-12-20
2020-12-27